

.topbar > a > button{
    margin-top: 7px;
    margin-left: 10px;
}

.area{
    position: absolute;
    width: 700px;
    top: 75px;
    left: 25px;
    transition: margin-left 0.4s ease-out;
}

.area > .topico{
    position: relative;
    width: 100%;
    padding: 30px;
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    min-height: 450px;
}

.area > .respostasarea{
    width: 100%;
    color: white;
    margin-top: 20px;
    position: relative;
    padding: 30px;
    padding-top: 10px;
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    border-radius: 10px;   
}

.area > .respostasarea > form > textarea#resposta{
    border-radius: 0px;   
    position: relative;
    width: 100%;
    height: 100px;
    resize: vertical;
    color: black;
}

.area > .respostasarea > form > button{
    width: 100px;
    position: relative;
}
.area > .respostasarea > .title{
    font-family: 'Raleway', sans-serif; font-weight: 200;
    font-size: 30px;
    border-bottom: 4px solid rgba(255,255,255,0.4);
}

.area > .respostasarea > #contresposta{
    position: absolute;
    right: 0px;
    height: 30px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; font-weight: 500;
    text-align: center;
    border-radius: 5px;
    border: 5px solid rgba(255,255,255,0.4);
    margin-top: -5px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.1);
    margin-right: 30px;
}

.area > .respostasarea > #contresposta > p{
    height: 15px;
    line-height: 15px;
    margin: 0px;
}

.area > .respostasarea > .repostas{
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.area > .respostasarea > .repostas > .resposta{
    width: 100%;
    position: relative;
    background: rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,0.4);
    min-height: 150px;
    overflow: hidden;

}

.area > .respostasarea > .repostas > .resposta[editable=editable]{
    padding-bottom: 50px;   
}

.area > .respostasarea > .repostas > .resposta > .text{
    height: 100%;
    position: relative;
    width: 350px;
    margin-left: 125px;
    min-height: 100px;
    word-break: normal;
    margin-top: 10px;
}

.area > .respostasarea > .repostas > .resposta > .vote {
    height: 100%;
    position: absolute;
    width: 100px;
    padding-right: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding-top: 10px;
}

.area > .respostasarea > .repostas > .resposta > .vote > * {
    margin-left: 10px;
}

.area > .respostasarea > .repostas > .resposta > .vote > .up{
    position: relative;
    height: 30px;
    background: rgba(255,255,255,0.1);
    background-image: url(../images/up.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 10px 0%;
    line-height: 30px;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    color: rgb(0,255,0);
    padding-left: 50px;
}
.area > .respostasarea > .repostas > .resposta > .vote > .up:hover{
    background-color: rgba(255,255,255,0.2);
}

.area > .respostasarea > .repostas > .resposta > .vote > .up[voted=voted]{
    border: 2px solid rgb(0,255,0);
}

.area > .respostasarea > .repostas > .resposta > .vote > .down[voted=voted]{
    border: 2px solid red;
}

.area > .respostasarea > .repostas > .resposta > .vote > .down{
    position: relative;
    margin-top: 5px;
    height: 30px;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    background-image: url(../images/down.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 10px 0%;
    border: 2px solid transparent;
    cursor: pointer;
    line-height: 30px;
    color: #F00;
    padding-left: 50px;
}

.area > .respostasarea > .repostas > .resposta > .vote > .down:hover{
    background-color: rgba(255,255,255,0.2);
}

.area > .respostasarea > .repostas > .resposta > .data{
    height: 20px;
    position: relative;
    width: 350px;
    margin-left: 125px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; font-weight: 200;
}

.area > .respostasarea > .repostas > .resposta > .info{
    position: absolute;
    right: 10px;
}

.area > .respostasarea > .repostas > .resposta > .info > .label{
    font-size: 16px;
    font-family: 'Raleway', sans-serif; font-weight: 200;
    position: relative;
    max-width: 180px;
}

.area > .respostasarea > .repostas > .resposta >.info > .userlabel{
    margin-top: 10px;
    background: rgba(255,255,255,0.2);    
    padding: 10px;
    width: 180px;
}

.userinfo img{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.area > .respostasarea > .repostas > .resposta > .info > .userlabel img{
    float: left;
    margin-right: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.area > .respostasarea > .repostas > .resposta > .info > .userlabel .title{
    overflow: hidden;
    white-space: nowrap;
    line-height: 50px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    margin-top: 13px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 13px;
    border-radius: 20px;
}

.area > .respostasarea > .repostas > .resposta > .info > .userlabel .title.own{
    background: white;
    color: #587997;
    margin-top: 5px;
    margin-bottom: 0px;
}

.area > .respostasarea > .repostas > .resposta > .info > .userlabel .subtitle{
    font-size: 16px;
    margin-bottom: 3px;
}

.area > .respostasarea > .repostas > .resposta > .info{
    position: absolute;
}

.area > .topico > .description{
    width: 60%;
    position: relative;
    color: white;
    float: left;
}

.area > .topico > .userinfo{
    width: 40%;
    float:right;
    position: relative;
    color: white;
}

.area > .topico > .userinfo .label{
    font-size: 16px;
    font-family: 'Raleway', sans-serif; font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}

.area > .topico > .userinfo > .label > p{
    margin: 0px;   
}

.area > .topico > .userinfo > .userlabel{
    background: rgba(255,255,255,0.2);
    padding: 10px;
    margin-right: 10px;
    padding-bottom: 7px;

}

.area > .topico > .userinfo > .userlabel .title{
    float: right;
    font-size: 16px;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 50px;
}

.area > .topico > .userinfo > .userlabel .title > p{
    margin: 0px;
}

.area > .topico > .description > .label{
    font-size: 16px;
    font-family: 'Raleway', sans-serif; font-weight: 200;
    margin-top: 10px;
}

.area > .topico > .description > .data{
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; font-weight: 200;
}
.area > .topico > .description > .title{
    font-size: 18px;
}

.area > .topico > .text{
    position: relative;
    color: white;
    margin-top: 130px;
    width: 410px;
}

.area > .topico > .text > .label{
    font-family: 'Raleway', sans-serif; font-weight: 200;
}

.topico > .userinfo{
    z-index: 1000;
}

.topbar{
    z-index: 1001;
}

.topico .editbtn{
    margin: 5px;
    margin-bottom: 0px;
    background-image: url(../images/editbig.png);
    background-size: 55px 55px;
    background-position: 5px 50%;
}
.topico button{
    font-family: 'Raleway', sans-serif; font-weight: 200;
    background-color:  rgba(255,255,255,0.1);
    background-repeat: no-repeat;
    height: 40px;
    width: 140px;
    color: white;
    border: none;
    text-align: left;
    margin-left: 60px;
    padding-left: 60px;
    transition: box-shadow 0.1s linear;
}
.topico button:hover{
    background-color:  rgba(255,255,255,0.2);  
    box-shadow: 0px 0px 10px #2980B9;
}

.topico .deletebtn{
    margin: 5px;
    background-image: url(../images/delete.png);
    background-size: 50px 50px;
    background-position: 5px 25%;
    top: 5px;
}

.resposta .deletebtn{
    font-family: 'Raleway', sans-serif; font-weight: 200;
    padding: 10px;
    line-height: 15px;
    width: 100%;
    color: white;
    background: rgba(255,255,255,0.1);   
    margin: 1px;
}

.resposta .editbtn:hover{
    background-color:  rgba(255,255,255,0.2);  
    box-shadow: 0px 0px 10px #2980B9;
}

.resposta .deletebtn:hover{
    background-color:  rgba(255,255,255,0.2);  
    box-shadow: 0px 0px 10px #2980B9;
}

.resposta button[disabled=disabled]{
    cursor: default;
}

.repostas button[disabled=disabled]:hover{
    box-shadow: none !important;
    background: rgba(255,255,255,0.1) !important;  
}

.resposta .editbtn{
    font-family: 'Raleway', sans-serif; font-weight: 200;
    padding: 10px;
    line-height: 15px;
    width: 100%;
    color: white;
    background: rgba(255,255,255,0.1);  
    margin: 1px;
}

.editarea{
    position: fixed;
    left: 700px;
    width: 500px;
    top: 75px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    color: white;
    z-index: 1000;
}

.editarea > .title{
    border-bottom: 5px solid rgba(255,255,255,0.4);
    font-size: 20px;
    font-family: 'Raleway', sans-serif; font-weight: 200;
    text-align: center;
}

.editarea > form > textarea{
    width: 500px;
    resize: vertical;
    border-radius: 0px;
    color: black;
}

.editarea > form > button{
    margin-top: 10px;
}

.type{
    background-image: url(../images/type.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 60px;    
}

.locked{
    background-image: url(../images/lockedwhite.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 60px;
}

.bound{
    background-image: url(../images/userswhite.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding-left: 60px;
}


.image-container{
    height: 200px;
    max-width:400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    border: 4px solid rgba(255,255,255,0.4);
    width: auto;
}

.image-container.opened{
    height: auto;
}

.image-container img{
    position: relative;
    display: block;
    max-width:400px;
    width: auto;
    height: auto;
}

.image-container.opened .foot-image-container{
    top: auto;
    position: relative;
}

.image-container .foot-image-container{
    background: rgba(255,255,255,0.4);
    box-shadow: 0px 0px 10px white;
    width: 100%;
    height: 35px;
    border-top: 4px solid rgba(255,255,255,0.8);
    line-height: 35px;
    color: black;
    position: absolute;
    top: 160px;
    text-align: center;
    cursor: pointer;
}

.area > .topico > .text a{
    word-break: break-all;
}