/* 
    Created on : 17/12/2016, 16:32:39
    Author     : joaog
*/

#content {
    position: absolute;
    top: 60px;
    left: 305px;
    min-width: 300px;
}

#content .thead{
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin: 5px;
    height: 30px;
    line-height: 30px;
}

#content th{
    vertical-align: top;
}

#content .thead.title-prm{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background-image: url(../../../images/layers.svg);
    background-size: 60px 60px;
    background-repeat:no-repeat;
    padding-right: 70px;
    background-position: right center;
}

#content .thead.title-scn:hover{
    font-weight: bold;
}

#content .thead.title-scn{
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
}

#content .title{
    color:white;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    min-width: 310px;
}

#content .title:not(.empty){
    font-weight: bold;
}

#content tr:not(:first-child) td,#content tr:not(:first-child) th{
    border-top: 1px solid rgba(255,255,255,0.5);
}

#content .card .head{
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(0,0,0,0.5);
}

#content .card .body{
    padding: 5px;
    width: 100%;
    position: relative;
}

#content .card .body td.small p{
    text-align: right;
    margin: 2px;
    font-size: 12px;
}

#content .list{
    display: none;
}

#content .card{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

#content ul{
    margin: 0px;
    padding: 0px;
}

#content ul li{
    min-width: 300px;
    list-style: none;
    margin: 5px;
    text-align: center;
}

.optionEp{
    width: 100%;
    height: 40px;
    border:none;
    box-shadow: 0px 0x 5px rgba(0,0,0,0.5); 
    color:white;
    text-shadow: 2px 2px 2px #000000; 
}

.optionEp.edit{
    background-color: #0078e7;
    background-image: url(../../../images/pencil.svg);
    background-size: 60px 60px;
    background-repeat:no-repeat;
    padding-right: 30px;
    background-position: right center;
}

.optionEp.edit:hover{
    background-color: #42a4ff;
}

.optionEp.edit:active{
    background-color: #90c8fd;
}

.optionEp.open{
    background-color: #70cc32;
    background-image: url(../../../images/play-button.svg);
    background-size: 60px 60px;
    background-repeat:no-repeat;
    padding-right: 30px;
    background-position: right center;
}

.optionEp.save{
    background-color: #70cc32;
    background-image: url(../../../images/upload.svg);
    background-size: 50px 50px;
    background-repeat:no-repeat;
    padding-right: 30px;
    background-position: right center;
}

.optionEp.save:hover,.optionEp.open:hover{
    background-color: #92d863;
}

.optionEp.save:active,.optionEp.open:active{
    background-color: #b7e598;
}

.optionEp.reset:hover{
    background-color: #4c70ff;
}

.optionEp.reset:active{
    background-color: #7590ff;
}

.optionEp.reset{
    background-color: #0033ff;
    background-image: url(../../../images/reload.png);
    background-size: 15px 15px;
    background-position: 5px center;
    background-repeat: no-repeat;
    padding-left: 50px;
    border-radius: 5px;
    float: right;
    height: 30px;
    padding: 0px;
}

.optionEp.cancel{
    background-color: #666;
    background-image: url(../../../images/close.svg);
    background-size: 15px 15px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px !important;
    border-radius: 5px;
    float: right;
    height: 30px;
    padding: 0px;
}

.optionEp.cancel:hover{
    background-color: #888;
}

.optionEp.cancel:active{
    background-color: #aaa;
}

.optionEp.delete{
    background-color: #e9322d;
    background-image: url(../../../images/garbage.svg);
    background-size: 60px 60px;
    background-repeat:no-repeat;
    padding-right: 30px;
    background-position: right center;
}

.optionEp.delete:hover{
    background-color: #ed5854;
}

.optionEp.delete:active{
    background-color: #f28e8b;
}

#editorEp{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
    display: none;
}

#editTable{
    position: absolute;
    top: 70px;
    width: 550px;

    left: calc(300px + (100% - 500px)/2 - 550px/2);
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    padding: 10px;
    max-height: calc( 100% - 50px ); 
    overflow: auto;
}

.epCount{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #DDD;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 5px solid #AAA;
    color: black;
    text-align: center;
}

#editTable .title{
    text-align: center;
    border-bottom: 5px solid #333;
    line-height: 30px;
    height: 30px;
    padding-bottom: 10px;
}

#editTable > table{
    width: 100%;
}

#editTable button{
    width: 100%;
}

#editorEp input{
    border:none;
    background: #DDD;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

#TableEp th{
    height: 30px;
    background: #AAA;
}

#TableEp input:hover{
    background: #AAA;
}

#TableEp input:focus{
    background: #CCC;
}

#rotulo{
    border:none;
}

.epFunction{
    width: 106px;
    margin-top: -16px;
    border-radius: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    position: absolute; 
}

.epAdd{
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.6);
    z-index: 1010;
    position: absolute;
    cursor: pointer;
    float: left;
    text-align: left;
    background: #1A6;
    color:white;
    overflow: hidden;
    width: 106px;
    font-weight: bold;
    height: 30px;
    border-radius: 5px;
    border-right-width: 0px;
}

.epRem{
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.6);
    z-index: 1009;
    position: absolute;
    text-align: right;
    width: 106px;
    cursor: pointer;
    background: #F66;
    color:white;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    float: right;
    font-weight: bold;
    border-radius: 5px;
    border-left-width: 0px;
}

.epAdd > p{
    line-height: 30px;
    margin: 0px;
    margin-left: 35px;
}

.epRem > p{
    line-height: 30px;
    margin: 0px;
    margin-right: -121px;
}

.epSeparator{
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    width: 15px;
    height: 30px;
    background: white;
    float: left;
    border-width: 0px;
    border-left-width: 4px;
    border-style: solid;
    border-color: #DDD;
    position: absolute;
    border-radius: 5px;
    z-index: 1011;
}

#empty{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-top: none !important;
    text-align: center;
    height: 100px;
    background-image: url(../../../images/CadilagStructs/empty-box.svg);
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 75px 75px;
    vertical-align: bottom;
}

