/* 
    Created on : 10/12/2017, 20:27:27
    Author     : joaog
*/

.outputStack {
    width: calc(100% - 320px);
    position: fixed;
    bottom: 60px;
    height: 70px;
    left: 25px;
    padding: 5px;
    padding-bottom: 25px;
    background: #EEE;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 100;
}

.outputStack .title {
    font-size: 15px;
    color: black;
    font-family: principalFontThin;
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    font-weight: bold;
}

.outputStack ul {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.outputStack ul li {
    width: 50px;
    height: 50px;
    border: 1px solid #777;
    margin-left: -1px;
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.outputStack ul li:hover {
    background: #333;
    color: white;
}

.outputStack ul li .value{
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
}

.outputStack ul li:nth-last-child(1){
    border: 1px solid #eee;
}

.outputStack ul li:nth-last-child(2){
    border: 1px solid #ccc;
}

.outputStack ul li:nth-last-child(3){
    border: 1px solid #bbb;
}

.outputStack ul li:nth-last-child(4){
    border: 1px solid #999;

}